{% load static %}
<div class="fixed-top bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <a class="site-name" href="{% url site_url %}">
                    {{ site_name }}
                </a>
                <ul class="list-group hidden-lg slider">
                    {% for nav in navbar %}
                        <a class="py-2 pl-2 hvr-forward" href="{% url nav.href %}"><i class="{{ nav.icon }}" aria-hidden="true"></i> {{ nav.name }}
                        </a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-10">
                <form method="get" action="" style="margin-left: -15px;margin-right: -15px;">
                    <input name="q" type="search" class="form-control ds-input form-search" id="search-input" placeholder="{{ search }}"
                           aria-label="Search for..."
                           autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
                           aria-labelledby="search-input" aria-owns="algolia-autocomplete-listbox-0" dir="auto">
                </form>
            </div>
        </div>
    </div>
</div>