{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% block title %}{{ title }}Quotes - {{ block.super }}{% endblock %}
{% block keywords %}{{ keydords }},wisdom,双语名言,名言,警句,{{ block.super }}{% endblock %}
{% block descrip %}{{ descrip }} at {{ block.super }}{% endblock %}
{% block css %}
    {{ block.super }}
    {% compress css %}
        <link href="{% static 'css/quote/quote.scss' %}" type="text/x-scss" rel="stylesheet"/>
    {% endcompress %}
{% endblock %}
{% block content %}
{% endblock %}

