{% extends 'quote/base.html' %}
{% load static %}
{% load compress %}

{% block title %}
    {% if quote_title %}
        {{ quote_title }} - {{ block.super }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% include 'html-units/header.html' %}

    <div class="container" style="font-size: 13.75px;">
        <div class="row py-5">
            <div class="col-2 hidden-md"></div>
            <div class="col-12 col-md-10" style="display: block;background-color: #fdfdfe   ">
                {% for wisdom in wisdom_list %}
                    <div class="py-3 nav-tabs">
                        <div class="row" style="position: relative">
                            <div class="col-12 col-md-10">
                                {% if wisdom.english %}
                                    <p>{{ wisdom.english }}</p>
                                {% endif %}
                                {% if wisdom.chinese %}
                                    <p class="list-group-item-light">{{ wisdom.chinese }}</p>
                                {% endif %}
                                <div style="bottom: -15px;position: absolute; font-size: smaller;">
                                    <i class="fa fa-fw fa-calendar-check-o"></i>
                                    {{ wisdom.last_modified_time | date:"F j" }}
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% if wisdom.author %}
                                        <i class="fa fa-fw fa-user"></i>
                                        <a class="hvr-bounce-in" href="{% url 'quote-author' wisdom.author.id %}">
                                            <span>{{ wisdom.author }}</span>
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endif %}
                                    {% if wisdom.tags.all %}
                                        <i class="fa fa-fw fa-tags"></i>
                                        {% for tag in wisdom.tags.all %}
                                            <a class="hvr-bounce-in" href="{% url 'quote-tag' tag.id %}">
                                                <span>{{ tag }}</span>
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            {% if wisdom.author %}
                                {% if wisdom.author.img %}
                                    <div class="col-2 hidden-md" style="display: inline-grid;">
                                        <div class="text-center"
                                             style="margin:auto">
                                            <img src="{{ wisdom.author.img }}" height="100" width="80">
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if wisdom_list %}
                    <br>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                                        <i class="fa fa-backward" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                            </li>
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">
                                        <i class="fa fa-forward" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
                {% for letter, authors in author_list.items %}
                    <div class="py-3 nav-tabs">
                        <div class="row">
                            <div class="col-12 col-md-10">
                                <p style="font-size: larger">
                                    {% for author in authors %}
                                        <a class="hvr-pulse-grow"
                                           href="{% url 'quote-author' author.id %}">{{ author }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="col-2 hidden-md" style="display: inline-grid;">
                                <a class="card text-center text-white bg-secondary" href="#"
                                   style="margin:auto;width: 80px;height: 80px;background: #b7b7b7;">
                                    <h5 class="card-title" style="margin: auto;">
                                        {{ letter | upper }}
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if tag_list %}
                    <div class="py-3 nav-tabs">
                        <div class="row">
                            <div class="col-12">
                                <p style="font-size: larger">
                                    {% for tag in tag_list %}
                                        <a class="hvr-grow" href="{% url 'quote-tag' tag.id %}">{{ tag }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if topic_list %}
                    <div class="py-3 nav-tabs">
                        <div class="row">
                            <div class="col-12">
                                <p style="font-size: larger">
                                    {% for topic in topic_list %}
                                        <a class="hvr-grow" href="{% url 'quote-topic' topic.id %}">{{ topic }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}