{% extends 'quote/base.html' %}
{% load static %}
{% load compress %}

{% block title %}
    {% if quote_title %}
        {{ quote_title }} - {{ block.super }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% include 'header.html' %}

    <div class="container">
        <div class="row py-4"></div>
        <div class="row py-4">
            <div class="col-md-2 hidden-lg"></div>
            <div class="col-12 col-lg-10" style="display: block;background-color: #fdfdfe   ">
                {% for wisdom in wisdom_list %}
                    <div class="py-3 nav-tabs">
                        <div class="row">
                            <div class="col-12 col-md-10">
                                <p style="font-size: larger">{{ wisdom.english }}</p>
                                <p class="list-group-item-light">{{ wisdom.chinese }}</p>
                                {% if wisdom.tags %}
                                    <div style="margin-bottom: -15px;">
                                        {% for tag in wisdom.tags.all %}
                                            <a class="hvr-bounce-in" href="{% url 'quote-tag' tag.id %}">
                                                <span class="badge badge-secondary badge-pill"> {{ tag }}</span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-2 hidden-md" style="display: inline-grid;">
                                {% if wisdom.author.name != '' %}
                                    <a class="card text-center text-white bg-secondary" href="{% url 'quote-author' wisdom.author.id %}"
                                       style="margin:auto;width: 80px;height: 80px;background: #b7b7b7;">
                                        <h5 class="card-title" style="margin: auto;">
                                            {{ wisdom.author }}
                                        </h5>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if wisdom_list %}
                    <br>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                                        <i class="fa fa-backward" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                            </li>
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">
                                        <i class="fa fa-forward" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
                {% for letter, authors in author_list.items %}
                    <div class="py-3 nav-tabs">
                        <div class="row">
                            <div class="col-12 col-md-10">
                                <p style="font-size: larger">
                                    {% for author in authors %}
                                        <a class="hvr-pulse-grow" href="{% url 'quote-author' author.id %}">{{ author }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="col-2 hidden-md" style="display: inline-grid;">
                                <a class="card text-center text-white bg-secondary" href="#"
                                   style="margin:auto;width: 80px;height: 80px;background: #b7b7b7;">
                                    <h5 class="card-title" style="margin: auto;">
                                        {{ letter | upper }}
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% for letter, tags in tag_list.items %}
                    <div class="py-3 nav-tabs">
                        <div class="row">
                            <div class="col-12 col-md-10 ">
                                <p style="font-size: larger">
                                    {% for tag in tags %}
                                        <a class="hvr-grow" href="{% url 'quote-tag' tag.id %}">{{ tag }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="col-2 hidden-md" style="display: inline-grid;">
                                <a class="card text-center text-white bg-secondary" href="#"
                                   style="margin:auto;width: 80px;height: 80px;background: #b7b7b7;">
                                    <h5 class="card-title" style="margin: auto;">
                                        {{ letter | upper }}
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}