{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block title %}{{ block.super }} - Home{% endblock %}


{% block content %}
    <div class="home-container">
        <div class="home-content">
            <img class="avatar" src="{% static 'img/author.png' %}" alt="author" width="200" height="200">
            <h2>PY</h2>
            <p>
                <i class="fa fa-paper-plane fa-fw" aria-hidden="true"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BeiJing · China
            </p>
            <p>
                <i class="fa fa-address-card fa-fw" aria-hidden="true"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Focus on: Hadoop,Spark, Pig,Elasticsearch, Kylin, Algorithm
            </p>
            <div class="btn-group" role="group">
                <div class="btn-group mr-2" role="group">
                    <a class="hvr-float-shadow" href="{% url 'core-index' %}"> Home </a>
                </div>
            </div>
            <div class="btn-group" role="group">
                <div class="btn-group mr-2" role="group">
                    <a class="hvr-float-shadow" href="{% url 'quote-index' %}"> Quote </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}{% endblock %}