{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <title>{% block title %}Codeflitting{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{% block keywords %}codeflitting,代码搬运工{% endblock %}"/>
    <meta name="description" content="{% block descrip %}代码搬运工{% endblock %}"/>
    <!-- Bootstrap CSS -->
    {% block css %}
        <link href="{% static 'css/bootstrap.css' %}" crossorigin="anonymous" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" crossorigin="anonymous" rel="stylesheet">
        <link href="{% static 'css/hover-min.css' %}" crossorigin="anonymous" rel="stylesheet">
        {% compress css %}
            <link href="{% static 'css/style.scss' %}" type="text/x-scss" rel="stylesheet"/>
        {% endcompress %}
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}

{% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/popper.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
{% endblock %}
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?ef678619b62fd37e787635cac66c6cab";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>