{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <title>{% block title %}代码搬运工{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% block css %}
        <link href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" crossorigin="anonymous" rel="stylesheet">
        <link href="{% static 'css/hover-min.css' %}" crossorigin="anonymous" rel="stylesheet">
        {% compress css %}
            <link href="{% static 'css/style.scss' %}" type="text/x-scss" rel="stylesheet"/>
        {% endcompress %}
    {% endblock %}
</head>
<body>
{% block content %}{% endblock %}

{% block js %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/popper.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>