{% load static %}
<nav class="navbar fixed-top container justify-content-center" style="padding: .5rem 0rem;">
    <div class="row w-100">
        <div class="col-2">
            <a class="navbar-brand py-2 hidden-lg" href="#">
                <h4 class="site-name">{{ site_name }}</h4>
            </a>
            <ul class="list-group py-2" style="position: absolute;overflow-x: hidden; overflow-y: auto; min-width: 100px;font-size: larger;">
                {% for nav in navbar %}
                    <a class="py-2 hvr-forward" href="{% url nav.href %}"><i class="{{ nav.icon }}" aria-hidden="true"></i> {{ nav.name }}</a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-md-10  py-2 hidden-lg">
            <div class="nav-tabs py-2" style="height: 35px;">
                <i class="fa fa-search" aria-hidden="true"> </i>
            </div>
        </div>
    </div>
</nav>