{% load static %}
<nav class="navbar fixed-top container justify-content-center" style="padding: 0rem;">
    <div class="row w-100">
        <div class="col-2">
            <a class="navbar-brand py-1 hidden-lg" href="{% url site_url %}">
                <h4 class="site-name">{{ site_name }}</h4>
            </a>
            <ul class="list-group py-2 hidden-lg"
                style="position: absolute;overflow-x: hidden; overflow-y: auto; min-width: 100px;font-size: larger;">
                {% for nav in navbar %}
                    <a class="py-2 hvr-forward" href="{% url nav.href %}"><i class="{{ nav.icon }}" aria-hidden="true"></i> {{ nav.name }}</a>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-lg-10">
            <div class="nav-tabs" style="height: 65px;">
                <br>
                <br>
                <form method="get" action="">
                    <input name="q" type="search" class="form-control ds-input" id="search-input" placeholder="{{ search }}"
                           aria-label="Search for..."
                           autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false"
                           aria-labelledby="search-input" aria-owns="algolia-autocomplete-listbox-0" dir="auto"
                           style="border-top: none; border-left: none; border-right: none; border-radius: 0px;background-color: #fdfdfe;">
                </form>
            </div>
        </div>
    </div>
</nav>