{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        <link href="{% static 'css/bootstrap.css' %}" crossorigin="anonymous" rel="stylesheet">
        {% compress css %}
            <link href="{% static 'css/html-units.scss' %}" type="text/x-scss" rel="stylesheet"/>
        {% endcompress %}
    {% endblock %}
    <title>Title</title>
</head>
<body>
<div class="container">
    {% include 'html-units/section.html' %}
</div>
</body>
</html>