.body {

}

[class^="hvr-"] {
  margin: .2em;
  padding: 0.2em;
  cursor: pointer;
  text-decoration: underline;
  color: #666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /* Smooth fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: #fdfdfe;
}

.container {

}