* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
  url(../fonts/kaushan.woff) format('woff');
}

body {
  text-shadow: rgba(169, 169, 169, 0.58) 0 2px 5px;
  margin: 0;
  height: 100%;
  font-size: 13.75px;
  padding-bottom: 50px;
  font-family: jaf-bernina-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fdfdfe;
}

a {
  color: #2e3133;
  &:hover {
    text-decoration: none;
  }
}

.site-name {
  color: #333;
  font: normal 30px / 1.6 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial;
  text-transform: capitalize;
  span {
    color: #888;
  }
}

.home-container {
  position: fixed;
  text-align: center;
  font-size: initial;
  width: 100%;
  height: 80%;
  top: 0;
  left: 0;
  .home-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
    a {
      color: #333333;
      text-decoration: underline;
    }
    .avatar {
      margin-bottom: 35px;
      border-radius: 100px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

@media (max-width: 576px) {
  .hidden-sm {
    display: none !important
  }
}

@media (max-width: 767px) {
  .hidden-md {
    display: none !important
  }
}

@media (max-width: 991px) {
  .hidden-lg {
    display: none !important
  }
}